.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 2rem;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    color: #CBD5E0;
}
.h6 {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
    color: #CBD5E0;

}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #F56565;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.button:hover {
    background-color: #E53E3E;
}
.button:active {
    background-color: #C53030;
}

.textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/*.table {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 1rem;*/
/*    padding: 1rem;*/
/*    border-radius: 5px;*/
/*    border: 1px solid white;*/
/*    color: white;*/
/*    font-size: 1rem;*/
/*    font-weight: 500;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*}*/
/*.table > thead {*/
/*    width: 100%;*/
/*}*/

/*.table > tbody {*/
/*    width: 100%;*/
/*}*/

/*.table > thead > tr > th {*/
/*    font-size: 1.2rem;*/
/*    font-weight: 700;*/
/*    color: #CBD5E0;*/
/*    border: 1px solid white;*/
/*}*/

/*.table > tbody > tr > td {*/
/*    font-size: 1rem;*/
/*    font-weight: 500;*/
/*    color: white;*/
/*    border: 1px solid white;*/
/*}*/
.table {
    width: 100%;
    border-collapse: collapse;
}
.td, .th {
    border: 1px solid #ddd;
    padding: 8px;
}
.tr:nth-child(even){background-color: #f2f2f2;}
.tr:hover {background-color: #ddd;}
.th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}